/* Navigator */

a{
    text-decoration: none;
    font-family:poppins;
    color: white;
}

#nav:hover{
    background-color: rgba(255, 255, 255, 0.342);
}

/* Navigator */

/* Carousel */
.carousel-item{
    height: 37rem;
    background-color:#615b5b;
    position: relative;
    background-position: center;
    background-size: cover;

    padding-top: 200px;
}

#container1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-bottom: 200px;

    color: white;

}
/* Carousel */