/* Container1 */
#container-fluid1{
    height: 250px;
}#item1{
    background-color: #114680;
}#item2{
    background-color: #ffcc00;
}#item3{
    background-color: #cf2323;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}.row h1{
    font-family: fsbebas;
    letter-spacing: 1px;
    font-size: 45px;
}.row h1:hover{
    transition: 0.5s;
    transform: scale(1.1);
}.row a{
    text-decoration: none;
    color: white;
}

/* /Container1 */

/* Carousel */
.carousel-item{
    height: 37rem;
    background: rgb(30,30,30);
    background: radial-gradient(circle, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 100%);
    position: relative;
    background-position: center;
    background-size: cover;

    padding-top: 180px;
}

#container1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-bottom: 200px;

    color: white;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "item1 item2";
}.childItem1{
    grid-area: item1;
    text-align: right;
    margin-right: 45px;
    filter: invert();
}.childItem2{
    grid-area: item2;
    padding-top: 9%;
    width: 85%;
    height: 100%;
    color: white;
   
}.childItem2 h1{
    font-size: 40px;
    font-family: Poppins;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
}.childItem2 p{
    color: rgba(255, 255, 255, 0.774);
    font-family: poppins;
}


/* Carousel */

/* Container1 Responsiveness */
 @media(max-width: 767px){
    .carousel-item{
        height: 700px;
    }

    .parent{
        grid-template-columns: 1fr;
        grid-template-areas:
        "item2"
        "item1";
    }.childItem1{
    text-align: center;
    margin-top: 10%;
    }.childItem2{
    width: 100%;
    color: white;
    margin-top: -20%;
    }
}@media(max-width: 375px){
    .row h1{
        font-size: 35px;
    }
}

/* Carousel Responsiveness */
@media(max-width: 375px){
    .carousel-item{
        height: 700px;
    }
    
    .childItem1{
        text-align: center;
        margin-top: 10%;
        margin-right: 0px;
    }.childItem1 img{
        width: 220px;   
    }
    .childItem2{
        grid-area: item2;
        width: 100%;
        color: white;
        margin-top: -40%;
        padding-left: 10% ;
        padding-right: 10% ;
    }
}
/* /Carousel Responsiveness */