/* Navigator */

#logo{
    width: 80px;
    margin-right:25px;
}

#nA1{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-family:poppins;
    font-size: 17px;
    color: white;
}

#nA1:hover{
    background-color: rgba(255, 255, 255, 0.342);
}
/* Navigator */

/* Container1 */

.container-fluid {
    background-color:#1e1e1e;
    height: 850px;
}

#c1Heading1{
    font-size: 50px;
    font-family: Poppins;
    color: white;
}

.bottomleft {
    position: absolute;
    bottom: 13px;
    left: 20px;
    font-size: 19px;
    letter-spacing: 1px;

    color: white;
}

.c1Parent{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    grid-template-areas: 
        "Image1 Image1 Image1 Image1"
        "Image2 Image3 Image4 Image5"
    ;
}

#Image1{
    grid-area: Image1;
    background-image: url(Calle.jfif);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

#Image2{
    grid-area: Image2;
    background-image: url(BanaueRice.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    
}

#Image3{
    grid-area: Image3;
    background-image: url(ManilaOceanPark.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
}

#Image4{
    grid-area: Image4;
    background-image: url(HinagdananCave.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
}

#Image5{
    grid-area: Image5;
    background-image: url(TaoistTemple.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
}
/* /Container1 */


/* Container2 */

#c2Parent{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-template-areas:
    "c2Image1 c2Image2 c2Image3 c2Image4"
    ;
}

#c2Image1{
    grid-area: c2Image1;
    background-image: url(AgnoBeach.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image2{
    grid-area: c2Image2;
    background-image: url(LaUnion.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image3{
    grid-area: c2Image3;
    background-image: url(IlocosNorte.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image4{
    grid-area: c2Image4;
    background-image: url(IlocosSur.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Parent2{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-template-areas:
    "c2Image5 c2Image6 c2Image7 c2Image8"
    ;
}

#c2Image5{
    grid-area: c2Image5;
    background-image: url(Pampanga.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image6{
    grid-area: c2Image6;
    background-image: url(Aurora.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image7{
    grid-area: c2Image7;
    background-image: url(Tarlac.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image8{
    grid-area: c2Image8;
    background-image: url(Zambales.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}



/* /Container2 */