/* Container1 */

#fContainer {
    background-color:#1e1e1e;
    height: 870px;
}

#c1Heading1{
    font-size: 50px;
    font-family: Poppins;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 3px #7961009c;
}

#pin{
    color: rgb(214, 171, 0)
}

.bottomleft {
    position: absolute;
    bottom: 13px;
    left: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-right: 10px;
    color: white;
}

.midcenter {
    padding: 45px;
    text-align: center;
    position: absolute;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}

.c1Parent{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    grid-template-areas: 
        "Image1 Image1 Image1 Image1"
        "Image2 Image3 Image4 Image5"
    ;
}

#Image1, #Image2, #Image3, #Image4, #Image5{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.849);
    transition: transform 0.3s, box-shadow 0.3s;
}

#Image1:hover, #Image2:hover, #Image3:hover, #Image4:hover, #Image5:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);

}

#Image1{
    grid-area: Image1;
    background-image: url(Calle.jfif);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

#Image2{
    grid-area: Image2;
    background-image: url(BanaueRice.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
}

#Image3{
    grid-area: Image3;
    background-image: url(ManilaOceanPark.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
}

#Image4{
    grid-area: Image4;
    background-image: url(HinagdananCave.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
}

#Image5{
    grid-area: Image5;
    background-image: url(TaoistTemple.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    position: relative;
}
/* /Container1 */


/* Container2 */

#c2Parent{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-template-areas:
    "c2Image1 c2Image2 c2Image3 c2Image4"
    ;
}

#c2Image1{
    grid-area: c2Image1;
    background-image: url(AgnoBeach.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image2{
    grid-area: c2Image2;
    background-image: url(LaUnion.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image3{
    grid-area: c2Image3;
    background-image: url(IlocosNorte.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image4{
    grid-area: c2Image4;
    background-image: url(IlocosSur.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Parent2{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    grid-template-areas:
    "c2Image5 c2Image6 c2Image7 c2Image8"
    ;
}

#c2Image5{
    grid-area: c2Image5;
    background-image: url(Pampanga.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image6{
    grid-area: c2Image6;
    background-image: url(Aurora.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image7{
    grid-area: c2Image7;
    background-image: url(Tarlac.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

#c2Image8{
    grid-area: c2Image8;
    background-image: url(Zambales.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

/* /Container2 */

/* Container1 Responsiveness */
@media(max-width:991px){
    .c1Parent{
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "Image1 Image2"
        "Image1 Image3"
        "Image1 Image4"
        "Image1 Image5"
        ;
    }

    #Image1{
        height: 750px;
    }

    #fContainer{
        height: 930px;
    }
}

@media(max-width:767px){
    .c1Parent{
        grid-template-columns: 1fr;
        grid-template-areas:
        "Image1"
        "Image2"
        "Image3"
        "Image4"
        "Image5"
        ;
    }

    #Image1{
        height: 650px;
    }
    #fContainer{
        height: 1600px;
    }

    .midcenter{
        padding: 60px;
        padding-left: 145px;
    }
}

@media(max-width:541px){
    .midcenter{
        padding: 60px;
        left: 18px;
    }
}
/* Container1 Responsiveness */
