@font-face{
    font-family: fsAlbert;
    src:url(fsAlbert.otf);
}

@font-face {
    font-family: fsBebas;
    src: url(fsBebasNeue-Regular.otf);
}

/* Navigator */

#logo{
    width: 80px;
    margin-right:25px;
}

#nA1{
    padding: 60px;
    text-decoration: none;
    font-family:poppins;
    font-size: 17px;
    color: white;
}

#nA1:hover{
    background-color: rgba(255, 255, 255, 0.342);
}

/* Navigator */

/* Footer */

#all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.body{
    display: grid;
    justify-content: center;
    align-content: end;
    min-height: 8%;
    background: rgb(0, 0, 0);
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 45px 70px;
    background-color: rgb(0, 0, 0);
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* --------- */

footer .container .sec h4{
    position: relative;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container .sec p{
    color: #cfcfcf;
    
}

footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .container .sci li{
    list-style: none;
    margin: -4px;
}

footer .container .sci li a{
    display: inline-block;
    width:36px ;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
}

footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}

/* --------- */

footer .container .quicklinks{
    position: relative;
}

footer .container .quicklinks ul{
    list-style: none;
}

footer .container .quicklinks ul li a{
    color: #cfcfcf;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
/* --------- */

footer .container .contact .info{
    position: relative;
}

footer .container .contact .info li{ 
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span{ 
    color: #ffffff;
    font-size: 20px;
} 

footer .container .contact .info li a{
    color: #cfcfcf;
    text-decoration: none;
}

/* --------- */

footer .container .logo{
    text-align: center;
    padding-top: -1px;
}

footer .container .logo ul li{
    color: #cfcfcf;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

#footerLogo{
    width: 250px;
    background-color: rgba(0, 255, 255, 0);
    opacity: 70%;
}

/* /Footer */

@media(max-width: 768px) {
    #nA1{
        font-size: 15px;
        padding: 20px;
    }

    footer{
        height: auto;
    }

    footer .container .logo{
        text-align: left;
        padding-top: -1px;
        margin: 0;
    }

}

@media(max-width: 991px) {
    footer{
        padding: 40px;
    }

    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 668) {

    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}