/* Carousel */
.lvm{
    font-family:fsAlbert;
    font-size: 70px;
    letter-spacing: 30px;
}

.carousel-item{
    text-align: center;

    height: 37rem;
    position: relative;
    background-position: center;
    background-size: cover;
}

#container1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-bottom: 230px;

    color: white;

}
/* Carousel */

/* Container 2 */

#c2H3{
    text-align: left; 
    padding-top: 20%; 
    margin-left: 120px; 
    font-family: fsBebas; 
    font-size: 70px;
    letter-spacing: 20px;
}

#c2P{
    text-align: left;
    margin-left: 120px;
    font-family: Poppins;
    font-size: 20px;
}

#phMap{
    width: 65%;
    margin-left: 70px;
}

#container2{
    color: white;
}


#c2Background{
    height: 750px;

    background-image: url(Phil2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
}

/* Container 2 */

/* Container 3 */

.bottomleft {
    position: absolute;
    bottom: 13px;
    left: 20px;
    font-size: 19px;
    letter-spacing: 1px;

    color: white;
}

#c3H1{
    font-size: 50px;
    font-family: Poppins;
    color: black;
}

.column1{
    border-radius: 25px;
    margin: 10px;
}

#c3C1{
    background-image: url(Palawan.jpg);
    transition: 1.1s;
    background-size: cover;
    
    position: relative;
}

#c3C2{
    background-image: url(Boracay.jpg);
    transition: 1.1s;
    background-size: cover;

    position: relative;
}

#c3C3{
    background-image: url(FortSantiago.jpg);
    transition: 1.0s;
    background-size: cover;

    position: relative;
}

#c3C4{
    background-image: url(TinagoFalls.jpg);
    transition: 1.1s;
    background-size: cover;

    position: relative;
}

#c3C5{
    background-image: url(mtPinatubo.jpg);
    transition: 1.1s;
    background-size: cover;

    position: relative;
}

#c3C1:hover, #c3C2:hover, #c3C3:hover, #c3C4:hover, #c3C5:hover{
    transform: scale(1.1);
}


/* Container 3 */
